<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyrim Alchemy Helper</title>

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Effects</h1>
            </div>
        </div>
        <form method="post" name="effect_selection" action="AddEffect">
            <div class="row">
                {% for effect in effects: %}
                    <div class="col-md-2">
                        {% if effect['active'] %}
                            <input class="btn btn-primary" type="submit" name="effect" value="{{effect['name']}}"/>
                        {% else %}
                            <input class="btn" type="submit" name="effect" value="{{effect['name']}}"/>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </form>
        <br>
        <div class="row">
            <div class="col-10">
                <h1>Ingredients</h1>
            </div>
            <div class="col-2">
                <form method="post" name="reset" action="Clear">
                    <input class="btn btn-info" type="submit" value="Reset">
                </form>
            </div>
        </div>
    </div>
    <div class="container"  style="height: 10000px">
        <iframe width="100%" height="100%" src="./Graph"></iframe>
    </div>
</body>
</html>